#northPoleButton {
    position: absolute;
    width: 35px;
    padding: 6px;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    border: 0.5px solid rgb(1, 1, 24);
    background-color: white;
    top: 350px;
    right: 15px;
}
#northPoleButton:hover {
    background-color: #e7e7e7d9;
}
#northPoleButton:active {
    background-color: #d2ecff;
}
#southPoleButton {
    position: absolute;
    width: 35px;
    padding: 6px;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    border: 0.5px solid rgb(1, 1, 24);
    background-color: white;
    top: 400px;
    right: 15px;
}
#southPoleButton:hover {
    background-color: #e7e7e7d9;
}
#southPoleButton:active {
    background-color: #d2ecff;
}